<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./partials/head.ejs %>
</head>
<header>
        <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                  <div style="background-color: #5E5C6C"class="p-4"> 
                      <ul>
                        <li><a href="/rivers/">Home</a></li>
                     <% if (currentUser) { %>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <li><input class="logout" type="submit" value="Logout"/></li>
                    </form>
                    <% } else { %>
                      <li><a href="/sessions/login">Log In</a></li>
                      <li><a href="/user/newUser">Register</a></li>
                        <% } %>
                    <% if (currentUser) { %>
                        <% if (currentUser.username === "Admin") { %>
                            <li><a href="/rivers/<%=river.id%>/edit">Edit</a></li>
                            <li> <form action="/rivers/<%=river.id; %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete"/>
                                </form></li>
                    <% } %>
                    <% } %>
                    
                    </ul>
                  </div>
                </div>
                <nav style="background-color: #5E5C6C" class="navbar navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </nav>
              </div>
</header>
<body style="background-color: #A2BCE0">
        <div class="container">
                <h1 class="text-center" style="color: #F0F0F0"><%=river.name%></h1>
                <div id="info" class="d-flex flex-row">
                        <div class="p-2 border"><img id="showImg" src="<%=river.image%>"></div>
                        <div class="p-2 border"><p><%=river.description%></p></div>
                </div>
            <% if (currentUser) { %>
            <form action="/rivers/comments/<%=river.id%>?_method=PUT" method="POST">
                <textarea type="text" name="comments" id="comments">
                </textarea>
                <input type="submit" value="Add Comment">
            </form>
            <% } %>
            <% if (river.comments.length < 1) { %>
                <p>There are no comments!</p>
               <% } else {
                    for(let i = 0; i < river.comments.length; i++) { %>
                        <p>Comment <%=[i]%>: <%=river.comments[i]%></p>
                        <% } 
                } %>
            
        
    

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>